<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="none"  name="Suite">
	<listeners>
		<listener class-name="com.rsa.ExtentReports.Listeners"/>
	</listeners>
  <test thread-count="1" name="SubmitOderTest">
    <classes>
      <class name="com.rsa.POM.SubmitOderTest"/>
    </classes>
  </test>
  <test thread-count="1" name="ErrorValidationTest">
    <classes>
      <class name="com.rsa.POM.ErrorValidationTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
